#USE OF PRINT STATEMENT IN PYTHON

In [2]:
a=20
b=30
a
b

30

In [3]:
a=20
b=30
print(a)
print(b)

20
30

In [4]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1 = 20
num2 = 34
add= num1+num2
print(add)

54

#PRINT RESULT WITH STRING

In [7]:
num1=10
num2=30
add=num1+num2
print('The addition of', num1,'and',num2,'is',add)

The addition of 10 and 30 is 40

In [8]:
name='python'
age=30
city='hyd'
print('My name is',name,'and i am',age,'years old from',city)

My name is python and i am 30 years old from hyd

#PRINT FORMAT METHOD

In [10]:
num1=10
num2=30
add=num1+num2
print('The addition of {} and {} is = {}'.format(num1,num2,add))

The addition of 10 and 30 is = 40

In [11]:
print('heallo my name is {},and i am {} years old from {}'.format(name,age,city))

heallo my name is python,and i am 30 years old from hyd

In [12]:
num1=10
num2=49
num3=98
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)
print('The average of {}, {}, and {} is= {} or {}'.format(num1,num2,num3,avg,avg1))

The average of 10, 49, and 98 is= 52.333333333333336 or 52.33

In [13]:
round(avg,2)

52.33

#MORE SHORT FORMAT METHOD (F STRING METHOD)

* variable should be in curly braces
* and write everything inside quots''
* at starting simply add F

In [15]:
num1=20
num2=46
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 20 and 46 is= 66

In [16]:
name='python'
age=20
city='hyd'
print(f'hello my name is {name}, and i am {age} years old from {city}.')

hello my name is python, and i am 20 years old from hyd.

In [17]:
num1=20
num2=33
num3=44
avg=round((num1+num2+num3)/3,2)
print(f'The average of {num1}, {num2} and {num3} is = {avg}')

The average of 20, 33 and 44 is = 32.33

In [18]:
#LETS COMBINE ALL 
num1=332
num2=334
add = num1+num2
print('The addition of', num1, 'and', num2, 'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 332 and 334 is= 666
The addition of 332 and 334 is= 666
The addition of 332 and 334 is= 666

#END STATEMENT

In [20]:
print('hello')
print('good morning')

hello
good morning

In [21]:
print('hello', end=' ')
print('world good day')

hello world good day

#SEPARATOR

In [23]:
print('hello', 'hai', 'how are you', sep='-->')

hello-->hai-->how are you

In [24]:
print('hello, I am python',  'who are u?', sep= ' & ')

hello, I am python & who are u?

In [25]:
print(3,'.')

3 .

In [26]:
print(3,'.',sep='')

3.

In [27]:
print(1,2,end= ' ')
print(3,'.', sep='')

1 2 3.